<%= simple_form_for(@fact) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: false, placeholder: 'title', input_html: { class: "form-wide"}, hint: 'Title can be max 140 characters.' %>
  <%= f.input :description, label: false, placeholder: 'description', input_html: { class: 'form-height'} %>
  <%= f.input :private_fact, as: :boolean, checked_value: true, unchecked_value: false, label: 'Make me private!' %>

  <%= f.simple_fields_for :references do |reference_fields| %>
    <%= render 'references/form', f: reference_fields %>
  <% end %>
  <%= link_to_add_fields('Add reference', f, :references) %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
