<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fact.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fact.description %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
