<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fact.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fact.description %>
</p>

<p>
  <strong>Reference:</strong>
  <% @fact.references.each do |ref| %>
    <%= ref.ref %>
  <% end %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>

<%= link_to 'Random', random_path, class: "btn btn-primary btn-lg btn-block" %>