<div class='fact'>
  <% if @fact.private_fact %>
    Private
  <% end %>
  <h3 class='fact-overview'>
    <%= @fact.title %>
  </h3>

  <div class='fact-overview'>
    <%= markdown(@fact.description) %>
  </div>

  <p>
    Reference(s):
    <ul>
    <% @fact.references.each do |ref| %>
      <li><%= markdown(ref.ref) %></li>
    <% end %>
    </ul>
  </p>

  <div class='user-box'>
    Created by: <%= @fact.user.email %><br>
    Created at: <%= @fact.created_at %><br>
    Updated at: <%= @fact.updated_at %><br>
    <%= image_tag(@fact.user.gravatar_url, class: 'medium-gravatar') %><br>
  </div>

  <% if current_user %>
    <%= link_to 'Edit', edit_fact_path(@fact), class: 'pull-right' if current_user.id == @fact.user.id %><br>
    <%= link_to("Delete", fact_path(@fact), class: 'pull-right', :method => :delete, :confirm => 'Are you sure you want to delete this fact?') if current_user.id == @fact.user.id %></td>
  <% end %>
</div>

<div class='random-btn'>
  <%= link_to 'Random Fact', random_path, class: "btn btn-custom btn-lg btn-block" %>
</div>