<p id="notice"><%= notice %></p>

<div class='fact'>
  <h3 class='fact-overview'>
    <%= @fact.title %>
  </h3>

  <div class='fact-overview'>
    <%= markdown(@fact.description) %>
  </div>

  <p>
    Reference(s):
    <ul>
    <% @fact.references.each do |ref| %>
      <li><%= markdown(ref.ref) %></li>
    <% end %>
    </ul>
  </p>

  <div class='user-box'>
    Created by: <%= @fact.user.email %><br>
    Created at: <%= @fact.created_at %><br>
    Updated at: <%= @fact.updated_at %><br>
    <%= image_tag @fact.user.gravatar_url %><br>
  </div>

  <%= link_to 'Edit', edit_fact_path(@fact), class: 'pull-right' if user_signed_in? %>
</div>

<div class='random-btn'>
  <%= link_to 'Random', random_path, class: "btn btn-custom btn-lg btn-block" %>
</div>